body{
    margin: 0;
    padding: 0;
    background-color:#DBF0F7;
    font-family:'Gloria Hallelujah', cursive;
    line-height:30px;
    letter-spacing:1px; 
}

.jumbotron {
    background-color: white;
}

.image{
     opacity:0.5;
     max-width: 100%;
     height: auto;
     background-repeat: no-repeat;
     align-content: center;   
}

.answer {
    background-color: white;
    height: 100px;
    margin-top: 60px;
}

.prediction {
    margin-top: 40px;
}

